@model IEnumerable<TandE.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="RecipeCreatePage">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefURL2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefURL3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefURL4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VersionNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Method)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Idea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefURL2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefURL3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefURL4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea.IdeaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
