@model TandE.Models.TEViewModels.IdeaRecipeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Idea.IdeaName</h2>

<div class="row">
    <hr />
    <div class="col-md-4">
        <p>Notes: @Model.Idea.InitialNotes</p>
        <p><a href="@Model.Idea.RefURL1">@Model.Idea.RefURL1</a></p>

        <p>Created:  @Html.DisplayFor(model => model.Idea.CreatedAt)</p>
        
    </div>
    <div class"col-md-4">
        <p>Category: @Model.Idea.Category.CategoryName</p>
        <p>Subcategories: </p>
        @foreach (var sub in @Model.ListofSubs)
        {
           <p>@sub.SubCategory.SubCategoryName</p>
        }
        
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idea.IdeaID">Edit</a> 
    <form asp-controller="Recipes" asp-action="CreateFromIdea" asp-route-id="@Model.Idea.IdeaID">
        <input type="submit" value="Make into Recipe" class="btn btn-default" />
    </form>
<a asp-action="Dashboard">Back to List</a>
</div>
<hr />

@foreach (var recipe in Model.RecipeVersions)
{
    <p>@recipe.RecipeName</p>
    @Html.Raw(@recipe.Method)
    <p>@recipe.CreatedAt</p>


    @foreach (var ingred in recipe.Ingredients)
    {

        <p>@ingred.Measurement @ingred.Unit  @ingred.Ingredient.IngredientName</p>

    }
    @if (recipe.NextVersionCreated == null)
    {
        <a asp-controller="Recipes" asp-action="EditCreatedRecipe" asp-route-id="@recipe.RecipeID">Edit</a>

        <form asp-controller="Recipes" asp-action="NewVersion" asp-route-id="@recipe.RecipeID">
            <input type="submit" value="New Recipe Version" class="btn btn-default" />
        </form>

    }
    @if (recipe.NextVersionCreated != null)
    {
        <form asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.RecipeID">
            <input type="submit" value="View" class="btn btn-default" />
        </form>

    }
    <hr />
}