@model IEnumerable<TandE.Models.Idea>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdeaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefURL1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InitialNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdeaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefURL1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdeaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdeaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdeaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
