@model IEnumerable<TandE.Models.RecipeIngredient>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Measurement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.IngredientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeIngredientID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeIngredientID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeIngredientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
