@model TandE.Models.Idea

@{
    ViewData["Title"] = "DetailsIdeaPartial";
}

<h2>DetailsIdeaPartial</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdeaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdeaName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefURL1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefURL1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdeaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
